@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar2 {
    width: 100%;
    height: 50px;
    background-color: #d1d8e0;
}

nav .wrapper {
    position: relative;
    max-width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.wrapper .nav-links {
    display: flex;
    margin-left: 60px;
    gap: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    /* color: #f2f2f2; */

    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #3A3B3C;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    color: #3A3B3C;
    /* background: #ccced0; */
    background-color: white;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 5px rgba(246, 236, 236, 0.885);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 50px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    color: #242526;
    /* color: red; */
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 40px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background-color: whitesmoke;
    /* background-color: #d1d8e0;; */
    /* padding: 25px 20px; */
    padding: 20px 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 0px 5px rgba(245, 238, 238, 0.829);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    /* color: #d9d9d9; */
    color: black;
    font-size: 15px;
    display: block;
    cursor: pointer;
}

.row .mega-links li a:hover {
    /* color: #f2f2f2; */
    /* color: rebeccapurple; */
    color: #3A3B3C;
    transform: translateY(-2px);
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

header {
    /* background-color: red; */
    color: black !important;
    background-color: inherit;
    /* background-color: #d1d8e0;; */
}



@media screen and (max-width: 1024px) {
   
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
        /* background-color: rebeccapurple; */
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
        /* background-color: rebeccapurple; */
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        padding: 0;
    }

    .nav-links li a {
        display: block;
        font-size: 12px;
    }

    .nav-links .drop-menu {
        opacity: 1;
        top: 65px;
    }

    /* #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    } */

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        /* color: #f2f2f2; */
        font-size: 10px;
        margin-top: 10px;
        font-weight: 500;
        
        transition: all 0.3s ease;
    }

    /* .nav-links .mobile-item:hover {
        background: #3A3B3C;
        background-color: rgb(26, 255, 0);
    } */

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 10px;
    }

    .mega-box {
        opacity: 1;
        visibility: visible;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}


nav input {
    display: none;
}

/* .body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
} */

/* .body-text div {
    font-weight: 600;
} */


@media screen and (max-width: 834px) {
    .nav-links{
        /* background-color: red; */
        margin: 0 auto;
    }

    .nav-links li{
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .nav-links{
        margin: 0 2rem;
        height: 50px;
    }
}


@media screen and (max-width: 425px) {
    .navbar2{
        display: none;
    }
}