*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #000;
}

.icon{
    transform: rotate(90deg);
    margin-left: 5px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* background-color: rebeccapurple; */
}

.menu-bar{
    background: whitesmoke;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    /* margin-bottom: 1rem; */
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.menu-bar ul{
    /* display: inline-flex; */
    display: flex;
    list-style: none;
    color: #000;
    gap: 15px;
}

.menu-bar ul li{
    /* background-color: red; */
    /* background: white; */
    /* width: 108px; */
    margin: 15px;
    /* padding: 10px 15px; */
}

.sub-menu-1{
    display: none;
}





.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 70px;
    padding: 10px;
    border-bottom: 1px dotted #000;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: black;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: white;
    top: 100%;
    left: 15%;
}

.sub-menu-2{
    display: none;
}

.menu-bar ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: white;
    top: 100%;
    right: 15%;
    text-align: left;
}



.menu-bar ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-2 ul li{
    width: 60px;
    padding: 10px;
    border-bottom: 1px dotted #000;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-2 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-2 ul li a:hover{
    color: black;
}


@media screen and (max-width: 1024px) {
    .menu-bar ul{
        gap: 0px;
    }

    .menu-bar ul li{
        margin: 15px 10px;
        /* padding: 10px 10px; */
    }   

    .menu-bar ul li:hover .sub-menu-1{
        left: 12%;
    }

    .menu-bar ul li:hover .sub-menu-2{
        right: 12%;
    }

}

@media screen and (max-width: 850px) {
    .menu-bar ul li{
        margin: 1px 5px;
        /* padding: 0px 5px; */
    }  
}

@media screen and (max-width: 834px) {
    /* .menu-bar{
        gap: 2px;
    } */
    /* .menu-bar ul li{ */
        /* margin: 8px 4px; */
        /* padding: 0px 5px; */
    /* }    */

    /* .menu-bar ul li:hover .sub-menu-1{
        left: 13%;
    }

    .menu-bar ul li:hover .sub-menu-2{
        right: 9%;
    } */
    .nav-container{
        position: relative;
    }

    .menu-bar{
        position: absolute;
        left: -100%;
        height: auto;
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .menu-bar-active{
        left: 0;
    }

    .menu-bar ul{
        flex-direction: column;
        gap: 5px;
    }

    .menu-bar ul li:hover .sub-menu-1{
        display: none;
    }

    .menu-bar ul li:hover .sub-menu-2{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .menu-bar{
        position: absolute;
        left: -100%;
        height: auto;
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .menu-bar-active{
        left: 0;
    }

    .menu-bar ul{
        flex-direction: column;
        gap: 5px;
    }

    .menu-bar ul li:hover .sub-menu-1{
        display: none;
    }

    .menu-bar ul li:hover .sub-menu-2{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .menu-bar{
        position: absolute;
        left: -100%;
        height: auto;
        width: 100%;
        border-radius: 0 0 20px 20px;
    }

    .menu-bar-active{
        left: 0;
    }

    .menu-bar ul{
        flex-direction: column;
        gap: 5px;
    }

    .menu-bar ul li:hover .sub-menu-1{
        display: none;
    }

    .menu-bar ul li:hover .sub-menu-2{
        display: none;
    }

}