@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

#prodetails {
    display: flex;
    margin-top: 20px;
    padding: 40px 80px;
}

#prodetails .single-pro-image {
    width: 35%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details h4 {
    font-size: 28px;
}

#prodetails .single-pro-details {
    width: 50%;
    /* padding-top: 30px; */
    background-color: whitesmoke;
    padding: 10px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
}

#prodetails .single-pro-details option:hover {
    background-color: #088179c2;
    color: white;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    /* margin-left: 20px; */
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details span {
    line-height: 25px;
    font-size: 17px;
}

.normal {
    /* width: 50px; */
    height: 47px;
    padding: 0 20px;
    background-color: #088178;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}



.normal:hover {
    background-color: #fff;
    color: #088178;
    border: 0.1px solid #088178;
}

.normal:hover a{
    color: #088178;
}

/* .pro-container{
    background-color: red;
    flex-wrap: nowrap;
} */


.product-container {
    display: flex;
    padding-top: 20px;
    overflow: hidden;
    gap: 20px;
}

.product-container2{
    display: none;
}


.pro {
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}



@media screen and (max-width: 786px) {
    #prodetails {
        flex-direction: column;
        align-items: center;
    }



    #prodetails .single-pro-image {
        width: 80%;
        margin-right: 50px;
    }

    .product-container{
        width: 100%;
    }

    #prodetails .single-pro-details {
        width: 100%;
        margin-right: 0;
        /* margin-left: 50px; */
    }

    #prodetails .single-pro-details select {
        margin-top: 20px;
    }

}

@media screen and (max-width:425px) {
    #prodetails {
        padding: 20px;
    }

    #prodetails .single-pro-details h4 {
        padding: 10px 0 14px 0;
    }

    #prodetails .single-pro-details h2 {
        font-size: 23px;
    }

    .product-container{
        display: none;
    }

    .product-container2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pro{
        animation: none;
    }

    
}

@media screen and (max-width:353px) {


    .normal {
        margin-top: 10px;
    }
}
